<nav>
  <ul class="pagination justify-content-end mb-1">
    <li class="page-item <%= page <= 0 ? 'disabled' : '' %>">
      <%=
        link_to "<i class=\"fa-solid fa-chevron-left\"></i><i class=\"fa-solid fa-chevron-left\"></i>".html_safe,
                url_for(params.permit!.merge(page: 0)),
                class: 'page-link'
      %>
    </li>
    <li class="page-item <%= page <= 0 ? 'disabled' : '' %>">
      <%=
        link_to "<i class=\"fa-solid fa-chevron-left fa-fw\"></i>".html_safe,
                url_for(params.permit!.merge(page: page - 1)),
                class: 'page-link'
      %>
    </li>
    <%
    total_pages.times do |i|
    %>
      <li class="page-item">
        <%=
          link_to "#{i + 1}", url_for(params.permit!.merge(page: i)), class: "page-link #{i == page ? 'active' : ''}"
        %>
      </li>
    <%
    end
    %>
    <li class="page-item <%= page >= total_pages - 1 ? 'disabled' : '' %>">
      <%=
        link_to "<i class=\"fa-solid fa-chevron-right fa-fw\"></i>".html_safe,
                url_for(params.permit!.merge(page: page + 1)),
                class: 'page-link'
      %>
    </li>
    <li class="page-item <%= page >= total_pages - 1 ? 'disabled' : '' %>">
      <%=
        link_to "<i class=\"fa-solid fa-chevron-right\"></i><i class=\"fa-solid fa-chevron-right\"></i>".html_safe,
                url_for(params.permit!.merge(page: total_pages - 1)),
                class: 'page-link'
      %>
    </li>
  </ul>
  <% if !defined?(showTotal) || showTotal != false %>
    <div class="text-end mb-3">Total: <%= total %></div>
  <% end %>
</nav>
